{% extends 'AppBebidas\inicio.html' %}

{% block head_block %}
<title>Lista de Vinos</title>
{% endblock head_block %}

{% block body_block %}

 <h1>VINOS</h1> <a href={% url 'nuevaVino' %}>Añadir nuevo vino</a>

    <form action={% url 'listaVinos' %} method="GET">
        <input type="text" name='marca' placeholder="Marca a buscar"/>
        <input type="submit" value="Buscar"/>
    </form>




    <ul>
        {% if unidad_vinos %}
            {% for V in unidad_vinos %}
        
                <li>
                    {{V}}
                </li>
        
            {% endfor %}
        {% else %}        
                <h2>No hay vinos con ese nombre de marca</h2>
        {% endif %}
    </ul>

{% endblock body_block %}
